<% title = "#{@list.name} List" %>
<%= render 'shared/page_title', :title => title %>

<div class="row">
  <div class="span4 offset4 centered">
    <%= "There are #{@list.words.count} words in this list" %>
  </div>
</div>

<br />

<div class="row">
  <div class="span2 offset1 centered">
    <% if @list.list_type != 'test' %>
      
      <div class="row">
        <div class="span2 well-small">
          <%= link_to "Review This List", next_list_path, :class => 'btn btn-primary full-width' %>
        </div>
      </div>
      <div class="row">
        <div class="span2 well-small">
          <%= link_to "Add More Words", add_words_list_path, :class => 'btn btn-primary full-width' %>
        </div>
      </div>

    <% end %>
    <% if @list.list_type != 'learn' %>
    
      <div class="row">
        <div class="span2 well-small">
          <%= link_to "Quiz me on this list", next_list_path, :class => 'btn btn-primary ' %>
        </div>
      </div>

    <% end %>
  </div>

  <div class="span4 offset1 centered">
    <% if @words %>
    
      <% @words.each do |word| %>
        <%= link_to word_path(word) do %>
  
          <div class="row">
            <div class="span4 well well-small">
              <h3><%= word.name %></h3>
            </div>
          </div>

        <% end %>
      <% end %>

    <% else %>
      
      No words in this list
    
    <% end %>
  </div>
</div>

