<% if @list.list_type == 'learn' %>
  <% title = "Review Mode" %>
  <% mode = "learn" %>
  <% to_list = "test" %>
<% elsif @list.list_type == 'test' %>
  <% title = "Quiz Mode" %>
  <% mode = "test" %>
  <% to_list = "learn" %>
<% end %>

<%= render 'shared/page_title', :title => title %>

<% if @word %>
  <%= render 'shared/word_display_default', :word => @word, :mode => mode %>
<% end %>
      
<% if mode == "learn" %>
<div class="row">
  <div class="span4 offset4 centered">
    <%= link_to "Next Word", next_list_path, :class => 'btn btn-primary respond-to-key-press right-arrow' %>
  </div>  
</div>    
<% end %>
          
<% if mode == "test" %>
<div class="row">
  <div class="span4 offset4 centered">
    <h5>Do you know this word?</h5>
  </div>  
</div>    
<br/>
<div class="row">
  <div class="span1 offset5 centered">
    <%= link_to "Yep!", next_list_path, :class => 'btn btn-success respond-to-key-press right-arrow' %>
  </div>  
  <div class="span1 centered">
    <%= link_to "Not yet!", next_list_path, :class => 'btn btn-warning respond-to-key-press right-arrow' %>
  </div>  
</div>    
<% end %>


<% if mode == "learn" %>
<br />      
<div class="row">
  <div class="span4 offset4 centered">
    <%= link_to "Add to #{to_list.capitalize} List", add_to_list_list_path(:word_id => @word.id), :class => 'btn btn-success' %>
  </div>        
</div> 
<% end %>
