<div class="row">
  <div class="span4 offset4 centered"> 
    <div id="word-name" class="<%= "#{mode}" %>">
      <h1><strong><%= word.name %></strong></h1>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="span4 offset4 centered"> 
    <div id="show-hint" style="display: none" class="well <%= "#{mode}" %>">
      <h3>Show hint</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 offset4 centered"> 
    <div id="show-meaning" style="display: none" class="well <%= "#{mode}" %>">
      <h3>Show meaning</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 offset4 centered"> 
    <div id="word-meaning" style="display: none" class="<%= "#{mode}" %>">
      <h3><%= word.meaning %></h3>
      <br />
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 offset4 centered"> 
    <div id="word-sentence" style="display: none" class="<%= "#{mode}" %>">
      <h6>Meaning</h6>
      <h4><%= word.sentence %></h4>
      <br />
    </div>
  </div>
</div>
