<% if notice %>
  <div class="row">
    <div class="span12 centered">
      <p class="notice"><%= notice %></p>
    </div>
  </div>
<% end %>

<% title = "GRE Words" %>
<%= render 'shared/page_title', :title => title %>

<% if current_user %>
  <% current_user.lists.each do |list| %>
    <div class="row top-margin-20">
      <div class="span2 offset5 centered">
        <%= link_to "Open #{list.name} List", contents_list_path(list), :class => 'btn full-width' %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row top-margin-20">
    <div class="span2 offset5 centered">
      <%= link_to 'Login Using FB', '/auth/facebook', :class => 'btn full-width' %>
    </div>
  </div>
  <div class="row top-margin-20">
    <div class="span2 offset5 centered">
      <%= link_to 'Learn Words', fetch_learn_words_url, :class => 'btn full-width' %>
    </div>
  </div>
<% end %>

</div>

