<% if notice %>
  <div class="row">
    <div class="span12 centered">
      <p class="notice"><%= notice %></p>
    </div>
  </div>
<% end %>

<% title = "GRE Words" %>
<%= render 'shared/page_title', :title => title %>

<div class="row">

	<div class="span2 offset5">

		<% if current_user %>

		  <% current_user.lists.each do |list| %>
			<div class="row top-margin-20">
			  <div class="span2 centered">
				<%= link_to "Open #{list.name} List", contents_list_path(list), :class => 'btn btn-primary full-width' %>
			  </div>
			</div>
		  <% end %>

		<% else %>

		  <div class="row top-margin-20">
			<div class="span2 centered">
			  <%= link_to 'Login with Facebook', '/auth/facebook', :class => 'btn btn-primary full-width' %>
			</div>
		  </div>
		  <div class="row top-margin-20">
			<div class="span2 centered">
			  <%= link_to 'Learn Words', fetch_learn_words_url, :class => 'btn btn-success full-width' %>
			</div>
		  </div>

		<% end %>

	</div>

        <br />

        <div class="span3 offset2 centered">
          <% if @messages.count > 0 %>
            <%= render 'whats_new_messages/list', :messages => @messages %>
          <% end %>
	</div>

</div>


